<form #userForm="ngForm" >
    <div class="form-row" >
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>

        <input type="email" class="form-control" 
        #email="ngModel" name="email" id="inputEmail4" placeholder="Email" [(ngModel)]="userObj.email" 
        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
        required="required" minlength="10" aria-required="true" aria-describedby="email">

        <div class="text-danger" *ngIf="email.invalid && (email.touched || email.dirty) || isFormSubmmited">
            <span *ngIf="email.errors?.['required']" id="email">email is required</span>
            <span *ngIf="email.errors?.['minlength']">Minimum 10 character needed</span>
            <span *ngIf="email.errors?.['pattern']">Enter valid Email Id</span>
        </div>
      </div>
      <br>

      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" 
        name="password" id="inputPassword4" placeholder="Password" #password="ngModel"
        [(ngModel)]="userObj.password" required="required" minlength="5">
        
        <div class="text-danger" *ngIf="password.invalid && (password.touched || password.dirty) && userObj.password !== 'password'|| isFormSubmmited">
          <span *ngIf="password.errors?.['required']" id="email">Password is required</span>
          <span *ngIf="password.errors?.['minlength']">Minimum 5 character needed</span>
          <span *ngIf="userObj.password==='password'">Password must not 'password'</span>
        </div>
      </div>
      <br>

    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" name="address" 
      id="inputAddress" placeholder="1234 Main St" #address="ngModel"
      [(ngModel)]="userObj.address" required="required" minlength="7">
      <div class="text-danger" *ngIf="address.invalid && (address.touched || address.dirty) || isFormSubmmited">
        <span *ngIf="address.errors?.['required']">This is required</span>
        <span *ngIf="address.errors?.['minlength']">Minimum 7 character needed</span>
    </div>
    </div>
    <br>

    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" name="address2" #address2="ngModel" 
      placeholder="Apartment, studio, or floor" [(ngModel)]="userObj.address2" >
    </div>
    <br>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" #city="ngModel"
         name="city" [(ngModel)]="userObj.city" required="required" minlength="4">
        <div class="text-danger" *ngIf="city.invalid && (city.touched || city.dirty) || isFormSubmmited">
          <span *ngIf="city.errors?.['required']">City is required</span>
          <span *ngIf="city.errors?.['minlength']">Minimum 4 character needed</span>
        </div>
      </div>
      <br>

      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" name="state" #state="ngModel"
        [(ngModel)]="userObj.state" required="required">
          <option value="gujarat" selected>gujarat</option>
          <option value="maharastra">maharastra</option>
          <option value="bihar">bihar</option>
        </select>
        <div class="text-danger" *ngIf="state.invalid && (state.touched || state.dirty) || isFormSubmmited">
          <span *ngIf="city.errors?.['required']">State is required</span>
        </div>
      </div>
      <br>

      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip" name="zip" #zipcode="ngModel" 
        [(ngModel)]="userObj.zip" required="required" minlength="5">
        <div class="text-danger" *ngIf="zipcode.invalid && (zipcode.touched || zipcode.dirty) || isFormSubmmited">
            <span *ngIf="zipcode.errors?.['required']">This is required</span>
            <span *ngIf="zipcode.errors?.['minlength']">Minimum 5 character needed</span>
        </div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" #accept="ngModel" 
        name="isAgree" [(ngModel)]="userObj.isAgree" required minlength="1">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
        <div class="text-danger" *ngIf="accept.invalid && (zipcode.touched || zipcode.dirty) || isFormSubmmited">
          <span *ngIf="accept.errors?.['required']">This is required</span>
        </div>
      </div>
    </div>
    <br>

    <button type="submit" class="btn btn-primary" (click)="onSubmit(userForm)">Sign in</button>
  </form>